
<%- include('header') %>

<div class="result">

    <% if(error){ %>
        <%= error %>
    <% }else{ %>    
        <%= quantidade %> 
        Dolares na cotação
        <%= cotacao %> é igual a: <%= conversao %> Reais
    <% } %>

</div>

<%- include('footer') %>