
<%- include('header') %>

<div class="text-center bg-success p-2 text-dark bg-opacity-10 ">

    <% if(error){ %>
        <%= error %>
    <% }else{ %>    
        <%= quantidade %> 
        Dolares na cotação
        <%= cotacao %> é igual a: <%= conversao %> Reais
    <% } %>

</div>

<%- include('footer') %>